/*
*= require /bootstrap/dist/css/bootstrap.min.css
*= require /eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css
*= require_tree .
*= require_self
*/

body { padding-top: 70px; }

label {
    font-size: 0.8em;
    font-weight: normal;
}

.checkbox label, .radio label { font-size: 1em; }

.red { background: orange; }

.table tbody>tr>td.vert-align{ vertical-align: middle; }
