/*
*= require /bootstrap/dist/css/bootstrap.min.css
*= require /eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css
*= require_tree .
*= require_self
*/

body { padding-top: 70px; }

a:focus { outline: 0; }

label {
    font-size: 0.8em;
    font-weight: normal;
}

textarea {
    resize: none;
}

.checkbox label,
.radio label { font-size: 1em; }

.nav-tabs {
    margin-bottom: 10px;
}
