/*
*= require /bootstrap/dist/css/bootstrap.min.css
*= require /eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css
*= require /select2/dist/css/select2.min.css
*= require /select2-bootstrap-theme/dist/select2-bootstrap.min.css
*= require /sweetalert/dist/sweetaler.css
*= require /font-awesome/css/font-awesome.min.css
*= require_tree .
*= require_self
*/

body { padding-top: 70px; }

section, .clearfix { margin-bottom: 5px; }

label, table th { font-weight: normal; }

.nav-tabs { margin-bottom: 5px; }

.btn { border-radius: 2px; }

.well {
    border: 0;
    box-shadow: none;
    margin-bottom: 10px;
}

